<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::main})}">
<body>
<main>
    <h1>
        <span th:if="${tarefa.id}">Editar</span>
        <span th:unless="${tarefa.id}">Nova</span>
        Tarefa
    </h1>

    <form method="POST" th:object="${tarefa}">
        <input type="hidden" th:field="*{id}"/>
        <div class="mb-3">
            <label for="title" class="form-label">Título</label>
            <input type="text" class="form-control" id="title" th:field="*{title}" required>
            <ul>
                <li th:if="${#fields.hasErrors('title')}" class="text-danger">
                    <span th:each="error : ${#fields.errors('title')}" th:text="${error}"></span>
                </li>
            </ul>
        </div>

        <div class="mb-3">
            <label for="deadline" class="form-label">Data de Entrega</label>
            <input type="date" class="form-control" id="deadline" th:field="*{deadline}" required>
            <ul>
                <li th:if="${#fields.hasErrors('deadline')}" class="text-danger">
                    <span th:each="error : ${#fields.errors('deadline')}" th:text="${error}"></span>
                </li>
            </ul>
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
        <a th:href="@{/}" class="btn btn-secondary">Cancelar</a>
    </form>

</main>
</body>
</html>