<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::main})}">
<body>
    <main>
        <h1>
            Lista de Tarefas <a th:href="@{/cadastrar}" class="btn btn-small btn-primary float-end ">Nova Tarefa</a>
        </h1>

        <table class="table" th:unless="${#lists.isEmpty(tarefas)}">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Titulo</th>
                <th scope="col">Data de Criação</th>
                <th scope="col">Data de Entrega</th>
                <th scope="col">Data de Finalização</th>
                <th scope="col">Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tarefa : ${tarefas}">
                <th scope="row" th:text="${tarefa.id}">1</th>
                <td th:text="${tarefa.title}">Mark</td>
                <td th:text="${#temporals.format(tarefa.createdAt)}">Otto</td>
                <td th:text="${#temporals.format(tarefa.deadline)}">Otto</td>
                <td th:text="${#temporals.format(tarefa.fineshedAt)} ?: '-'">Otto</td>
                <td>
                    <!-- 1. Concluir 2. Editar 3. Apagar -->
                    <form class="d-inline" th:action="@{/finalizar/{id}(id=${tarefa.id})}" method="post">
                        <button type=submit class="btn btn-sm btn-success"
                                th:classappend="${tarefa.finished} == true ? 'disabled': '' ">
                            <i class="bi bi-check-lg"></i>
                        </button>
                    </form>

                    <a th:href="@{/editar/{id}(id=${tarefa.id})}" class="btn btn-sm btn-warning"
                       th:classappend="${tarefa.finished} == true ? 'disabled': '' ">
                        <i class="bi bi-pencil-square"></i>
                    </a>

                    <a th:href="@{/excluir/{id}(id=${tarefa.id})}" class="btn btn-sm btn-danger">
                        <i class="bi bi-trash"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <div th:if="${#lists.isEmpty(tarefas)}" class="alert alert-info" role="alert">
            Nenhuma tarefa encontrada.
        </div>

    </main>
</body>
</html>